<header class="text-left  bg-info">
<form [formGroup]="studentForm" class="ml-2">
    <label>name</label>
    <input type="text" formControlName="name">
    <div class="error" *ngIf="studentForm.get('name')?.touched && studentForm.get('name')?.invalid">
        <P *ngIf="studentForm.get('name')?.errors?.['required']">Enter id required</P>
        <P *ngIf="studentForm.get('name')?.errors?.['minlength']">name should be min 3 chars</P>

    </div>
    <br>





    <p>touched:{{studentForm.get('name')?.touched}}</p>
    <P>unTouched:{{studentForm.get('name')?.untouched}}</P>
    <P>Dirty:{{studentForm.get('name')?.dirty}}</P>
    <p>pristine:{{studentForm.get('name')?.pristine}}</p>
    <P>valid:{{studentForm.get('name')?.valid}}</P>
    <P>invalid:{{studentForm.get('name')?.invalid}}</P>
    <P>value:{{studentForm.get('name')?.value}}</P>
    <P>errors:{{studentForm.get('name')?.errors|json}}</P>

    <label>email</label>
    <input type="text" formControlName="email">
    <div *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.invalid ">
        <p class="error" *ngIf="studentForm.get('email')?.errors?.['required']">required</p>

    </div>
    <br>
    <label>phone</label>
    <input type="number" formControlName="phone">
    <div class="error" *ngIf="studentForm.get('phone')?.touched && studentForm.get('phone')?.invalid">
        <P *ngIf="studentForm.get('phone')?.errors?.['required']">phone is required</P>
        <p *ngIf="studentForm.get('phone')?.errors?.['min']">phone should be minimum ten numbers</p>
        <p *ngIf="studentForm.get('phone')?.errors?.['max']">phone should be maximum of 10 numbers</p>
    </div>
    <br>
    <div formGroupName="address" class="ml-1">
        <label>city</label>
        <input type="text" formControlName="city">
        <div class="error" *ngIf="studentForm.get('address')?.get('city')?.touched && studentForm.get('address')?.get('city')?.invalid">
            <P *ngIf="studentForm.get('address')?.get('city')?.errors?.['required']">required</P>
        </div>
        <br>
        <label>state</label>
        <input type="text" formControlName="state">
        <div class="error" *ngIf="studentForm.get('address')?.get('state')?.touched && studentForm.get('address')?.get('state')?.invalid">
            <P *ngIf="studentForm.get('address')?.get('state')?.errors?.['required']">required</P>
        </div>
        <br>

        <label>pin</label>
        <input type="text" formControlName="pin">
        <div class="error" *ngIf="studentForm.get('address')?.get('pin')?.touched && studentForm.get('address')?.get('pin')?.invalid">
            <P *ngIf="studentForm.get('address')?.get('pin')?.errors?.['min']">minimum of 6required</P>
            <P *ngIf="studentForm.get('address')?.get('pin')?.errors?.['max']">maximum of 6 required</P>
            
        </div>

        <br>


    </div>
    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls; let i=index">
            <h2>enter card details {{i+1}}</h2>
            <div formGroupName="{{i}}">
                <label>number</label>
                <input type="number" formControlName="number">
                <div class="error" *ngIf="cardsFormArray.controls[i].get('number')?.touched && cardsFormArray.controls[i].get('number')?.invalid">
                    <P *ngIf="cardsFormArray.controls[i].get('number')?.errors?.['required']">card number is required</P>
                    <P *ngIf="cardsFormArray.controls[i].get('number')?.errors?.['min']">card number min 12</P>
                    <P *ngIf="cardsFormArray.controls[i].get('number')?.errors?.['max']">card number max 12</P>

                </div>
                <br>
                <label>expiry</label>
                <input type="month" formControlName="expiry">
                <br>
                <label>cvv</label>
                <input type="number" formControlName="cvv">
                <div class="error" *ngIf="cardsFormArray.controls[i].get('cvv')?.touched && cardsFormArray.controls[i].get('cvv')?.invalid">
                    <P *ngIf="cardsFormArray.controls[i].get('cvv')?.errors?.['required']">card number is required</P>
                    <P *ngIf="cardsFormArray.controls[i].get('cvv')?.errors?.['min']">card number min 3</P>
                    <P *ngIf="cardsFormArray.controls[i].get('cvv')?.errors?.['max']">card number max 3</P>

                </div>
                <br>
                <button  class="btn btn-danger" (click)="delete(i)">Delete</button>

            </div>
        </div>

    </div>
    <button  class="btn btn-success ml-2" (click)="add()">add card</button>
    <br>

    <label>type</label>
    <input type="radio" name="type" formControlName="type" value="dayScholar"> 
    <label>day scholar</label>
    <input type="radio" name="type" formControlName="type" value="residential">
    <label>Residential</label>
    <br>
    <div *ngIf="studentForm.get('type')?.value=='dayScholar'">
        <label>BusFees</label>
        <input type="number">
        <br>
    </div>

    <div *ngIf="studentForm.get('type')?.value=='residential'">
        <label>Hostelfees</label>
        <input type="number">
        <br>
    </div>
    

    
    <button  class="btn btn-primary"(click)="submit()">submit</button>

</form>
</header>