<div class="parent">
    <div class="left">
         <h4 routerLink="home">Home</h4>
         <h4 routerLink="data-binding">Data-binding</h4>
        <h4 routerLink="calculator">calculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="directives">Directives</h4>
        <h4 routerLink="square">square</h4>
        <h4 routerLink="gpay">Gpay</h4>
        <h4 routerLink="product">productsList</h4>
        <h4 routerLink="vehicle">vehiclesData</h4>
        <h4 routerLink="sbibank">SBIdata</h4>
        <h4 routerLink="flipkart">Flipkart</h4>
        <h4 routerLink="boredom">BoreDom</h4>
        <h4 routerLink="mail">Mails</h4>
        <h4 routerLink="create-bank-data">createBankData</h4>
        <h4 routerLink="create-vehicle">CreateVehicle</h4>
        <h4 routerLink="create-student">student-data</h4>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
             <router-outlet></router-outlet>
    </div>
</div>